<div class="mainbox">
    <div class="colbox">
      <div class="squarebox"><img class="squareimg" src="img/icon04.png"></div>
      <div class="squarebox"><img src="img/text01.png"><div class="titlebox1">&nbsp;</div></div>
      <div class="squarebox"><img sytle="margin-top:10px;" class="squareimg" src="img/icon01.png"></div>
      <div class="squarebox"></div>
    </div>
    <div class="middlebox">
        <div class="middlesubbox">
          <div class="squarebox"><img class="squareimg" src="img/icon03.png"></div>
          <div class="squarebox"><img src="img/text.02.png"><div class="titlebox2">&nbsp;</div></div>
    </div>
    <div class="videobox"></div>
    <div class="middlebox">
        <div class="middlesubbox">
          <div class="squarebox"><img class="squareimg" src="img/icon02.png"><div class="titlebox3">&nbsp;</div></div>
          <div class="squarebox"></div>
    </div>
    </div>
    <div class="colbox">
      <div class="squarebox"></div>
      <div class="squarebox eventbox">
        <div class="eventbox_info">
        <div class="event_title">タイトルタイトルタイトルタイトル</div>
        <div class="event_place"><i class="fa fa-map-marker"></i>&nbsp;◯◯株式会社東京都◯◯区◯◯市2-8-2</div>
        <div class="event_date"><i class="fa fa-calendar-o"></i>&nbsp;2017/01/28(土)13:00 〜 18:00</div>
        </div>
      </div>
      <div class="squarebox"></div>
      <div class="squarebox"></div>
    </div>
</div>
