<!DOCTYPE html>
<html>
  <head>
    <title>Hello Board Games world!</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="css/normalizecss.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
